apiVersion: v1
kind: Service
metadata:
  name: {{ include "eshop.fullname" . }}-healthdeck-web
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "eshop.labels" . | nindent 4 }}
    app.kubernetes.io/component: healthdeck-web
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "eshop.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: healthdeck-web
