apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eshop.fullname" . }}-yarp-gateway-config
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "eshop.labels" . | nindent 4 }}
    app.kubernetes.io/component: yarp-gateway
data:
  ASPNETCORE_ENVIRONMENT: {{ .Values.global.environment | quote }}
  ASPNETCORE_HTTP_PORTS: {{ .Values.ports.yarpGateway | quote }}
  ReverseProxy__Clusters__catalog-cluster__Destinations__destination1__Address: "http://{{ include "eshop.fullname" . }}-catalog-api:80"
  ReverseProxy__Clusters__basket-cluster__Destinations__destination1__Address: "http://{{ include "eshop.fullname" . }}-basket-api:80"
  ReverseProxy__Clusters__ordering-cluster__Destinations__destination1__Address: "http://{{ include "eshop.fullname" . }}-ordering-api:80"
